/* Reset body margin and padding */
html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%; /* Ensure html and body take full height */
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Banner Section (Full viewport height) */
#banner {
    position: relative;
    height: 100vh; /* Full viewport height */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #232741; /* Banner background color */
}

/* Particles container */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    z-index: 1; /* Ensure particles are behind other content */
}

/* Banner content (site title and description) */
.banner-content {
    z-index: 10;
    color: white;
    margin-bottom: 20px; /* Space between content and nav */
}

.navbar {
    display: flex;
    list-style: none;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}

/* General CTA Button Styles */
.cta-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
    position: relative; /* Ensure it's positioned above other elements */
    z-index: 20;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Navigation Styling */
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav ul li {
    list-style: none;
    padding: 10px; /* Space around items */
}

nav a {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0; /* More space between items */
    }
}